body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: antiquewhite;
    line-height: 2rem;
}

h2{
    color: orange;
}

img.tour{
    width: 30vw;
    min-width: 300px;
    padding: 20px 20px;
    /* border: thin groove gray; */
    float: left;
    margin-right: 20px;
    border-radius: 50px;
}

div.country{
    clear: both;
    margin-top: 6rem;
}

p{
    text-align: justify;
}